doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pug
    script(type='text/javascript').
        if(foo) bar(1+5);
  body
    p This is the first paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non lectus eu lorem hendrerit dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel bibendum metus. Vivamus in nibh euismod, tincidunt ligula sed, condimentum tortor.
    p This is the second paragraph. Phasellus a libero non mi sagittis tempus. Integer ut lorem nec risus ultricies interdum a eget nisi. Fusce tincidunt magna in dui dictum lobortis. Morbi et velit ac nunc tempor suscipit. Duis nec ex nec justo pretium placerat id in mauris.
